@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rajdhani:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  /* text-align: center; */
  align-items: center;
}

a {
  text-decoration: none;
  letter-spacing: 0px;
  color: #165C7D;
  opacity: 1;
  font-size: 13px;
  
}

.container {
  max-width: 1240px;
  margin: auto;

}